.ios, .md {

	add-review-page {

	  ion-label {
	    margin-left: 10px;
	  }

	  ion-item {
	    background-color: #74efc4 !important;
	  }

	  ion-input, ion-select, ion-textarea {
	    background-color: #f2f2f2;
	    padding: 5px 10px;
	  }

	}

}