
.ios, .md{
    page-add-review {

        ion-label {
            margin-left: 10px;
        }

        ion-item {
            background-color: #74efc4 !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

        .toolbar-background {
            background-color: #74efc4;
        }

    }
}

    

