page-login {
    #main-logo{
        height: 150px;
        width: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        display: block;
    }

    .background{
        background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url('../assets/imgs/room.jpg');
        background-position: center;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    ion-card.card{
        margin-top: 10px;
        background: rgba(232, 230, 230, 0.8px);
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .item{
        background: rgba(232, 230, 230, 0px);
    }

    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }
}
