.ios, .md {

	home-page {

	  ion-item {
	    background-color: #fff;
	    border-bottom: none !important;
	  }

	  ion-label {
	    white-space: normal;
	  }

	  ion-item-sliding {
	    margin: 10px;
	  }

	}

}