<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Message Board</ion-title>
        <ion-buttons *ngIf="loggedIn" end>       
          <button ion-button icon-only (click)="createMessage()" end>
           <ion-icon name="add"></ion-icon>
         </button>
       </ion-buttons>
      </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon = "arrow-dropdown"
          pullingText = "Pull to refresh"
          refreshingSpinner = "circles"
          refreshingText = "Refreshing messages...">
        </ion-refresher-content>
    </ion-refresher>


  <ion-list>
    <ion-card text-wrap *ngFor="let message of messages">
      <ion-card-header color = "primary">
        Name: {{ message.Name }}
      </ion-card-header>
      <ion-card-content>
        <p>Message: {{ message.Message }}</p>
        <p>Email: {{ message.Email }}</p>
        <p style= "text-align: right">{{message.Date | date: 'short'}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
