<ion-content padding>
  <div >
    <ion-item class="close-fake" no-lines (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-item>
    <ion-card>
      <ion-slides *ngIf="property.ImagesUrl[0] != null" class="image-slider" loop="false" autoplay="3000" pager="true" paginationType="bullets" zoom="true" effect="slide" slidesPerView="1">
        <ion-slide *ngFor="let img of property.ImagesUrl">
          <img src="{{img}}" class="thumb-img" #myImage (click)="presentImage(myImage)">
        </ion-slide>
      </ion-slides>
      <img *ngIf ="property.ImagesUrl[0] == null" src="https://thumbs.dreamstime.com/z/cartoon-house-vector-illustration-white-background-56861518.jpg" class="thumb-img" imageViewer>
      <ion-card-content>
        <ion-card-title>
          €{{property.Price}}
        </ion-card-title>
        <p *ngIf="property.SingleBeds != null">No of Single Beds: {{property.SingleBeds}}</p>
        <p *ngIf="property.DoubleBeds != null">No of Double Beds: {{property.DoubleBeds}}</p>
        <p *ngIf="property.TwinBeds != null">No of Twin Beds: {{property.TwinBeds}}</p>
        <p *ngIf="property.EnSuite != null">No of En-Suite Beds: {{property.EnSuite}}</p>
        <p>College: {{property.College}}</p>
        <p>Address: {{property.Address}}</p>
        <p>Location: {{property.LocationDes}}</p>
        <p>Availability: {{property.Availability}}</p>
        <p *ngIf="property.Contact == 'Phone'">Phone: {{property.Phone}}</p>
        <p *ngIf="property.Contact == 'Email'">Email: {{property.Email}}</p>
        <p>Parking: {{property.Parking}}</p>
      </ion-card-content>
      <button ion-button icon-end (click)="findOnMap()">
        Find on Map
        <ion-icon name="map"></ion-icon>
      </button>
      <button ion-button color="danger" *ngIf="navFrom" (click)="deleteProperty()">
        Delete Ad
      </button>
      <button ion-button color="danger" *ngIf="navFrom" (click)="updateProperty()">
          Delete Ad
        </button>
    </ion-card> 
  </div>
</ion-content>
