<ion-content padding>
  <div >
    <ion-item class="close-fake" no-lines (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-item>
    <ion-card>

        <ion-item>
          <h2 style="color: rgb(153, 0, 255);">€{{property.Price}}</h2>
          <p><b>Available: </b>{{ property.Availability}}</p>
        </ion-item>
      
        <ion-slides *ngIf="property.ImagesUrl[0] != null" class="image-slider" loop="false" autoplay="3000" pager="true" paginationType="bullets" zoom="true" effect="slide" slidesPerView="1">
          <ion-slide *ngFor="let img of property.ImagesUrl">
            <img src="{{img}}" class="thumb-img" #myImage (click)="presentImage(myImage)">
          </ion-slide>
        </ion-slides>
        <img *ngIf ="property.ImagesUrl[0] == null" src= "assets/imgs/default-room-image.jpg" class="thumb-img" imageViewer>
      
        <ion-card-content>
          <p *ngIf="property.SingleBeds != 0"><b>No of Single Rooms: </b>{{property.SingleBeds}}</p> 
          <p *ngIf="property.DoubleBeds != 0"><b>No of Double Rooms: </b>{{property.DoubleBeds}}</p>
          <p *ngIf="property.TwinBeds != 0"><b>No of Twin Rooms: </b>{{property.TwinBeds}}</p>
          <p *ngIf="property.EnSuite != 0"><b>No of En-Suite Rooms: </b>{{property.EnSuite}}</p>
          <p><b>College</b> {{property.College}}</p>
          <p><b>Located </b>{{property.LocationDes}}</p>
          <p><b>Address: </b>{{property.Address}}</p>
          <p><b>Description: </b>{{ property.Description}}</p>
          <p *ngIf="property.Contact == 'Phone'"><b>Contact</b> {{property.Phone}}</p>
          <p *ngIf="property.Contact == 'Email'"><b>Contact</b> {{property.Email}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="car"></ion-icon>
              <div>{{property.Parking}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="findOnMap()">
              <ion-icon name="locate"></ion-icon>
              <div>Find On Map</div>
            </button>
          </ion-col>
        </ion-row>   
      </ion-card>
  </div>
</ion-content>
