page-preview-property-modal {
    ion-slide.swiper-slide{
        left: 25%;       
    }

    .thumb-img{
        padding: 15px;
        min-width: auto;
        min-height: 200px;
        max-height: 200px;
    }
}
