<ion-content>
  <div >
    <ion-item class="close-fake" no-lines (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-item>

    <ion-card>

      <ion-item>
        <h2 style="color: rgb(153, 0, 255);">€{{room.Price}}</h2>
        <p><b>Available: </b>{{ room.Availability}}</p>
      </ion-item>
    
      <ion-slides *ngIf="room.ImagesUrl[0] != null" class="image-slider" loop="false" autoplay="3000" pager="true" paginationType="bullets" zoom="true" effect="slide" slidesPerView="1">
        <ion-slide *ngFor="let img of room.ImagesUrl">
          <img src="{{img}}" class="thumb-img" #myImage (click)="presentImage(myImage)">
        </ion-slide>
      </ion-slides>
      <img *ngIf ="room.ImagesUrl[0] == null" src= "assets/imgs/default-room-image.jpg" class="thumb-img" imageViewer>
    
      <ion-card-content>
        <p><b>Room Type </b> {{room.RoomType}}</p>
        <p><b>Nearest College </b>{{room.College}}</p>
        <p><b>Located </b>{{room.LocationDes}}</p>
        <p><b>Address: </b>{{room.Address}}</p>
        <p><b>Description: </b>{{ room.Description}}</p>
        <p *ngIf="room.Contact == 'Phone'"><b>Contact </b>{{room.Phone}}</p>
        <p *ngIf="room.Contact == 'Email'"><b>Contact </b>{{room.Email}}</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="car"></ion-icon>
            <div>{{room.Parking}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="findOnMap()">
            <ion-icon name="locate"></ion-icon>
            <div>Find On Map</div>
          </button>
        </ion-col>
      </ion-row>   
    </ion-card>
  </div>
</ion-content>
