page-preview-modal {
   
    ion-slide.swiper-slide{
        left: 25%;       
    }

    .thumb-img{
        padding: 15px;
        width: auto;
        min-height: 200px;
        max-height: 200px;
    }
}
