page-preview-modal {
   
    .thumb-img{
        align-content: center;
        align-self: center;
        padding: 5px;
        min-width: 302px;
        max-width: 302px;
        min-height: 250px;
        max-height: 250px;
    }
}
