page-home {
    .background{
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg, #4E5EFC, #4EE7FC);
    }
    .scroll-content{
        text-align: center;
    }
    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .item{
        background: rgba(232, 230, 230, 0px);
    }

    #main-logo{
        margin-top: 15px;
    }

    ion-input{
        border-bottom: #FD4D73 solid 1px;
    }
}

