<ion-header>
  <ion-navbar transparent>
    <ion-title>
      Review King
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addReview()"><ion-icon class="test" name="ios-add-circle-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-list no-lines>
    
       <ion-item-sliding *ngFor="let review of reviews">
    
         <ion-item>
    
           <ion-avatar item-left>
             <img src="https://api.adorable.io/avatars/75/{{review.title}}">
           </ion-avatar>
    
           <h2>{{review.title}}</h2>
           <p>{{review.description}}</p>
    
           <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
           <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon>
           {{review.rating}}
    
         </ion-item>
    
         <ion-item-options side="left">
           <button ion-button color="danger" (click)="deleteReview(review)">
             <ion-icon name="trash" ></ion-icon>
             Delete
           </button>
         </ion-item-options>
         <ion-item-options side="right">
          <button ion-button (click)="updateReview(review);">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
         </ion-item-options>
       </ion-item-sliding>
    
     </ion-list>
    
</ion-content>
