<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Properties</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 <!--[(ngModel)]="terms"-->
 
<ion-content padding>

    <button ion-button type="button" (click)="sort()">Sort by College</button>

    <ion-list>
       <ion-item>
         <ion-note item-start>
             Max Price €
         </ion-note>
        <ion-range pin ="true" max ="2000" step="10" [(ngModel)]="terms"></ion-range>
      </ion-item>
     </ion-list>

  <p *ngIf = "properties != null">Found {{properties.length}} Properties</p>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon = "arrow-dropdown"
      pullingText = "Pull to refresh"
      refreshingSpinner = "circles"
      refreshingText = "Refreshing Ads...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <ion-item *ngFor="let property of properties | search : terms | sort: {property: column, order: order}">
    
        <ion-item tappable (click)="openProperty(property)">
          <ion-thumbnail item-start>
              <img *ngIf="property.ImagesUrl[0] != null" [src]="property.ImagesUrl[0]">
              <img *ngIf="property.ImagesUrl[0] == null" src = "https://thumbs.dreamstime.com/z/cartoon-house-vector-illustration-white-background-56861518.jpg">
          </ion-thumbnail>
          <h2>Price: € {{ property.Price }}</h2>
          <p>Number of Rooms: {{ property.SingleBeds + property.DoubleBeds + property.TwinBeds + property.EnSuite }}</p>
          <p>Address: {{ property.Address }}</p>
          <p>Published: {{ property.Date | date: 'short' }}</p>
          <button ion-button clear icon-only item-end> <ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>
    
      </ion-item>
    </ion-list>
</ion-content>
