<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Properties</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon = "arrow-dropdown"
      pullingText = "Pull to refresh"
      refreshingSpinner = "circles"
      refreshingText = "Refreshing Ads...">
    </ion-refresher-content>
  </ion-refresher>
 
  <ion-list>
      <ion-item *ngFor="let property of properties">
    
        <ion-item tappable (click)="openProperty(property)">
          <ion-thumbnail item-start>
              <img *ngIf="property.ImagesUrl" [src]="property.ImagesUrl[0]">
          </ion-thumbnail>
          <h2>Price: {{ property.Price }}</h2>
          <p>Number of Rooms: {{ property.SingleBeds + property.DoubleBeds + property.TwinBeds + property.EnSuite }}</p>
          <p>Address: {{ property.Address }}</p>
          <p>Published: {{ property.Date | date: 'short' }}</p>
          <button ion-button clear icon-only item-end> <ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>
    
      </ion-item>
    </ion-list>
</ion-content>
