page-forget-password {
    #main-logo{
        height: 180px;
        width: auto;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        display: block;
    }

    .background{
        background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url('../assets/imgs/room.jpg');
        background-position: center;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    ion-card.card{
        margin-top: 55px;
        background: rgba(232, 230, 230, 0.8px);
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .item{
        background: rgba(232, 230, 230, 0px);
    }

    .home-header{
        width: max-content;
        border: solid 2px;
        margin-left: 6px;
        text-align: center;
        border-radius: 10px;
        margin-top: 60px;
        color: rgba(153, 0, 255, 1px);
        background: rgba(255,255,255, 0.9px);
    }

}
