page-forget-password {
    #main-logo{
        height: 150px;
        width: auto;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        display: block;
    }

    .background{
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg, rgb(153, 0, 255) , rgb(247, 248, 248));
    }

    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .item{
        background: rgba(232, 230, 230, 0px);
    }
}
