page-home {
    ion-avatar img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
        margin-right: 15px;
    }

    .bg {
        background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../assets/imgs/College.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
}
