page-home {
    ion-avatar img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
        margin-right: 15px;
    }

    .bg {
        background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.4)), url('../assets/imgs/College.jpg');
        background-position: fixed;
        background-attachment: fixed ;
        background-repeat: no-repeat;
        background-size:100% 100%;
    }

    .btn-footer-wrapper {
        text-align: center;
    }

    .home-header{
        border: solid 2px;
        text-align: center;
        border-radius: 10px;
        margin-top: 45px;
        color: white;
        background: rgba(153, 0, 255, .6px);
    }

    .home-rooms{
        border: solid 2px;
        border-radius: 15px;
        color: white;
        text-align: center;
        margin-top: 230px;
        background: rgba(153, 0, 255, .6px);
    }

    .home-properties{
        border: solid 2px;
        border-radius: 15px;
        color: white;
        text-align: center;
        margin-top: 3px;
        background: rgba(153, 0, 255, .6px);
    }

    .loggedIn-footer{
        border-radius: 5px;
        color: white;
        text-align: center;
        background: rgba(153, 0, 255, .4px);
    }

}
