page-home {
    ion-avatar img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
        margin-right: 15px;
    }

    .bg {
        background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url('../assets/imgs/college.png');
        background-position: fixed;
        background-attachment: fixed ;
        background-repeat: no-repeat;
        background-size:100% 100%;
    }

    .home-header{
        border: solid 2px;
        text-align: center;
        border-radius: 10px;
        margin-top: 45px;
        color: rgba(153, 0, 255, 1px);
        background: rgba(255,255,255, 0.9px);
    }

    .home-rooms{
        border: solid 2px;
        border-radius: 15px;
        color: rgba(153, 0, 255, 1px);
        text-align: center;
        margin-top: 225px;
        background: rgba(255,255,255, 0.9px);
    }

    .home-properties{
        border: solid 2px;
        border-radius: 15px;
        color: rgba(153, 0, 255, 1px);
        text-align: center;
        margin-top: 3px;
        background: rgba(255,255,255, 0.9px);
    }

    .footer {
        background-color: rgb(153, 0, 255);
    }

    .footer2{
        background-color: transparent;
    }

    .p{
        color: white;
        text-align: center;
    }

    .btn-footer-wrapper {
        margin-left: 17px;
        margin-right: 19px;
    }

}
