<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Digs Home</ion-title>

    
    <ion-buttons *ngIf="email" end>
        <div *ngIf="photoURL; else regularUser">
          <ion-avatar>
            <img [src]="photoURL"> 
          </ion-avatar>
        </div>
        
        <ng-template #regularUser>
          <ion-avatar>
            <img src="assets/imgs/default-avatar.png"> 
          </ion-avatar>        
        </ng-template>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>

<ion-content padding class = "bg">

  <ion-item *ngIf="email">
    <h1>Welcome To Digs</h1>
    <h2 *ngIf="displayName">{{ displayName }}</h2>
    <h3 *ngIf="email">{{ email }}</h3> 
  </ion-item>

  <br />

  <ion-item *ngIf="email" (click)="goToRooms()">
    <ion-icon name="paper" item-start></ion-icon>
    Number of Rooms
    <ion-badge *ngIf = "rooms != null" item-end>{{ rooms.length }}</ion-badge>
  </ion-item>

  <ion-item *ngIf="email" (click)="goToProperties()">
    <ion-icon name="paper" item-start></ion-icon>
    Number of Properties
    <ion-badge *ngIf = "properties != null" item-end>{{ properties.length }}</ion-badge>
  </ion-item>

</ion-content>

