<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Digs Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="userProfile">
    <ion-avatar item-left>
      <img *ngIf="userProfile.photoURL" [src]="userProfile.photoURL"> 
    </ion-avatar>
    <h2>{{ userProfile.displayName }}</h2>
    <h3>{{ userProfile.email }}</h3> 
  </ion-item>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button primary (click)="goToLogin()">Login Page</button>
</ion-content>

